.login-page {
  background: #34aacf;
  width: 100vw;
  height: 100vh;
  padding-left: 20%;
  padding-top: 5%;
}
.login-page .login-frame {
  width: 75%;
  height: 90%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 40px 40px;
}
.login-page .login-frame .left {
  width: 48%;
}
.login-page .login-frame .left .header p {
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #000;
}
.login-page .login-frame .left .desc p {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000;
}
.login-page .login-frame .left .img {
  margin-top: 20px;
}
.login-page .login-frame .left .img img {
  width: 100%;
  height: 300px;
}
.login-page .login-frame .right {
  width: 50%;
  height: 100%;
  background: #f1f1f1;
  border-radius: 15px;
}
.login-page .login-frame .right .img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.login-page .login-frame .right .img img {
  width: 125px;
  height: 125px;
}
.login-page .login-frame .right .user-input {
  margin-top: 20px;
}
.login-page .login-frame .right .pw-input {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.login-page .login-frame .right .login-button {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
}
.login-page .login-frame .right .login-button button {
  width: 100%;
  height: 54px;
  border-radius: 20px;
  background: #34aacf;
  border: transparent;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.login-page .login-frame .right .fogot-pw-txt {
  margin-top: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #34aacf;
  margin-left: 15%;
  cursor: pointer;
}
.login-page .login-frame .right .fogot-pw-txt:hover {
  text-decoration: underline;
  color: red;
}
.login-page .login-frame .right input {
  width: 90%;
  margin-left: 5%;
  height: 64px;
  border-radius: 15px;
  background: #cfcfcf;
  border: transparent;
  padding-left: 10px;
  padding-right: 60px;
  outline: none;
}

.login-page .input-icon {
  position : absolute;
  top: 13px;
  right: 50px
}

.login-page .input-icon img {
  width: 30px;
  height: 30px
}
@media screen and (max-width: 700px) {
  .login-page .login-frame .left {
    display: none;
 }
  .login-page .login-frame > div {
    width: 100% !important;
 }
  .login-page input {
    height: 55px !important;
 }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .login-page .login-frame {
    padding: 20px;
 }
  .login-page .login-frame .left {
    width: 40%;
 }
  .login-page .login-frame .right {
    width: 55%;
 }
}

.login-page .login-error {
  color: red;
  padding: 20px;
}

.login-page .login-loading {
  width: 50px;
  height: 50px;
}
