.custom-input-frame {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.custom-input-frame label {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  
  color: #000000;
}

.custom-input-frame input {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  height: 40px;
  padding-left: 16px;
  padding-right: 2px;
}

.custom-input-frame .input-title span {
  color: red
}

.custom-input-frame input[type="file"] {
  padding-top: 5px;
}

.custom-input-frame .input-title p {
  margin-bottom: 0 !important;
}