.update-account-page {
    background: #EFECEC;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid black;
    background: #FFFFFF;
  }
  
  .update-account-page .title {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 35px;
    color: #000000;
  }
  
  .update-account-page .title-sub {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-top: 9px;
  }
  
  .update-account-page .fied-data-row {
    justify-content: space-between;
  }
  
  .update-account-page .fied-data-row>div {
    width: 48%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .update-account-page .fied-data-row>div {
      width: 100%;
    }
  }
  
  
  .update-account-page .avatar-row {
    margin-top: 30px;
    justify-content: space-between;
  }
  
  .update-account-page .avatar-row>div {
    width: 48%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .update-account-page .avatar-row>div {
      width: 100%;
    }
  }
  
  .update-account-page .save-button {
    background: #34AACF;
    border-radius: 8px;
    width: 170px;
    height: 46px;
    border: unset;
  }
  
  .update-account-page .save-button .text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
  }
  .list-button{
    display: flex;
  }